<nav>
    <div class="logo">Konoha</div>
			<div class="menu">
				<ul class="nav">
					<li><a class="link" href="#">Товары</a></li>
					<li><a class="link" href="#">Аренда</a></li>
					<li><a class="link popup" href="#">Поддержка<div class="popup-content">kek</div></a></li>
					<li><a class="link" href="#">Личный кабинет</a></li>
					<li><a class="link" href="#">О нас</a></li>
					{{#isGreater token.role "1"}}<li><a class="link" href="#">Работники</a></li>{{/isGreater}}
				</ul>
			</div>  
</nav>