<li class="imdiz-product">
    <div class="imdiz-product__inner">                
        <div class="imdiz-product__info">
            <span class="imdiz-product__name">{{worker.workername}}</span>
            <span class="imdiz-product__name">{{worker.workermidname}}</span>		
        </div>
    </div>
</li>
