<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Добавление товара</title>
	<link rel="stylesheet" href="/../css/signin.css">
</head>
	<body>	
		<div class="box">
            <form>
                <div class="input-container">
                    <input id="additemname" type="text" required=""/>
                    <label>Название</label>		
                </div>
                <div class="input-container">		
                    <input id="additemdescr" type="text" required=""/>
                    <label>Описание</label>
                </div>
                <div class="input-container">		
                    <input id="additemauthor" type="text" required=""/>
                    <label>Автор/Производитель</label>
                </div>
                <div class="input-container">		
                    <input id="additemcount" type="text" required=""/>
                    <label>Количество</label>
                </div>
                <div class="input-container">		
                    <input id="additemprice" type="text" required=""/>
                    <label>Стоимость</label>
                </div>
                <div class="input-container">		
                    <input id="additemagelimit" type="text" required=""/>
                    <label>Возрастное ограничение</label>
                </div>
                    <button id="save-btn" type="button" class="btn">Сохранить</button>
            </form>	
        </div>
	</body>
</html>
