<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Авторизация</title>
	<link rel="stylesheet" href="/../css/signin.css">
</head>
    <div class="box">
        <form>
            <div class="input-container">
                <input id="login" type="text" required=""/>
                <label>Логин</label>		
            </div>
            <div class="input-container">		
                <input id="password" type="password" required=""/>
                <label>Пароль</label>
            </div>
                <button id="auth-btn" type="button" class="btn">Авторизация</button>
                <a href="/signup">Регистрация</a>
        </form>	
    </div>
</html>