.data-container {
    opacity: 0.7;
    width: 500px;
    height:auto;
    float: left;
    background: #0027d4;
    border: solid 1px grey;
    position: relative;
    /*padding-left: 300px;*/
    left: 500px;
    top: 55px;
    border-radius: 10px;
}

.grid {
    padding-top:70px;
    padding-left: 55px;
    opacity: 1;
    /*рисуем зелёные рамки
    border: 5px solid #ffffff;*/
    /*подключаем сетку*/
    display: grid;
    /*формируем по 4 одинаковых строки и столбца*/
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(2, auto);
} 

  /*внешний вид ячеек*/
.grid > * {    
    /*фоновый цвет*/
    background-color: #ffffff;
    /*скругление углов*/
    border-radius: 10px;
    /*расстояние от одной границы ячейки до другой*/
    margin: 10px;
}
/* внешние границы таблицы серого цвета толщиной 1px */
table {
    padding-top: 10px;
    /*border: 1px solid grey;*/
 }
 
table {
    width: 100%;
 }
 /* задаст фиксированную ширину для таблицы */
 table {
    width: 380px;
}

.upbtn1{
    color:rgb(255, 255, 255);
	background:  rgba(186, 186, 195, 0.4);
	outline: none;
    border: 0;
    color: rgb(255, 255, 255);
	padding:5px 10px;
	text-transform:none;
    margin-bottom: 1%;
    margin-left: 72%;
	border-radius:2px;
	cursor:pointer;
	position:relative;
}