.item {
    margin-top: 1%;
    width: 45%;
    margin-left: 24%;
    background: #FFFFFF;
    box-shadow: 5px 2px 3px 0px #0027d4;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.iteminshopcart {
    padding: 20px 30px;
    height: 120px;
    display: flex;
}

.buttons {
    position: relative;
    padding-top: 27%;
    margin-right: 60px;
}

.deletebtn {
    text-align: center;
    border-radius: 15px;
    width: 30px;
    height: 30px;
}

.deleteimg{
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width:100%;
    max-height:100%;
}

.descrforshopcart {
    padding-top: 10px;
    margin-right: 60px;
    width: 115px;
}
   
.descrforshopcart span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
    font-weight: 300;
    margin-top: 20%;
    margin-left: auto;
    color: #86939E;
    margin-bottom: 5px;
}
   
button:focus,
input:focus {
    outline:0;
}

.price {
    width: 83px;
    padding-top: 30%;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}

.shopcartimg {
    width: 60%;
    height: 100%;
}

.grid {
    padding-top: auto;
    padding-left: auto;
    opacity: 1;
    /*рисуем зелёные рамки
    border: 5px solid #ffffff;*/
    /*подключаем сетку*/
    display: grid;
    /*формируем по 4 одинаковых строки и столбца*/
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(1, auto);
} 

  /*внешний вид ячеек*/
.grid > * {    
    /*фоновый цвет*/
    /*background-color: #ffffff;*/
    /*скругление углов*/
    border-radius: 10px;
    /*расстояние от одной границы ячейки до другой*/
    margin: 1px;
}

.upbtn{
    color:rgb(255, 255, 255);
	background: #4c6cf9;
	outline: none;
    border: 0;
    color: rgb(255, 255, 255);
	padding:5px 10px;
	text-transform: none;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 65%;
	border-radius:6px;
	cursor:pointer;
	position:relative;
}

.upbtn1{
    color:rgb(255, 255, 255);
	background: #4c6cf9;
	outline: none;
    border: 0;
    color: rgb(255, 255, 255);
	padding:5px 10px;
	text-transform: none;
    margin-top: 14%;
    margin-bottom: 1%;
    margin-left: 28%;
	border-radius:6px;
	cursor:pointer;
	position: absolute;
}

.maininfo {
    width: auto;
    height: auto;
    float: left;
    background: #4c6cf9;
    border: solid 1px grey;
    position: relative;
    /*padding-left: 300px;*/
    left: 500px;
    top: 55px;
    border-radius: 10px;
    padding-right: 1%;
    padding-bottom: 1%;
}