img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.imdiz-products_row{
    padding-left: 175px;
    display: flex;
    flex-wrap: wrap;
}
.imdiz-product{
    list-style: none;
    width: auto;
    padding: 10px;    
}
.imdiz-product__inner{
    padding: 20px;
    border: 1px solid #ededed;
    transition: all .3s;
}
.imdiz-product__inner:hover{
    border-color: #0027d4;
}
.imdiz-product__av{
    text-align: center;
    color: #6db801;
    padding-bottom: 0px;
}

.imdiz-product__img-link{
    display: block;
    text-align: center;
}

.imdiz-product__info{
    text-align: center;
    padding-top: 10px;
}
.imdiz-product__name{
    font-size: 15px;
    color: #000;
    text-transform: none;
    text-decoration: none;
    transition: all .3s;
}
.imdiz-product__name:hover{
    color: #0027d4;
}

.imdiz-product__price{
    font-size: 17px;
    text-align: center;
    padding: 5px 0;
}
.imdiz-product__submit{
    background-color: #0027d4;
    border: 1px solid #0027d4;
    width: 168px;
    height: 41px;
    color: #fff;
    font-size: 18px;
    padding: 0;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    transition: all .3s;
}
.imdiz-product__submit:hover{
    background-color: #fff;
    color: #0027d4;
}

a {
    text-decoration: none;
}