<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Каталог товаров</title>
    <link rel="stylesheet" href="/../css/style.css">
	<link rel="stylesheet" href="/../css/stylecatalog.css">
</head>
<body>	
    <header class="headernotmain">
        {{> navigationbar token=token}}
    </header>
    <input type="text" id="filter-input" onkeyup="applyFilter()" placeholder="Поиск...">
    <div class="container products__container">
        <ul id="table" class="imdiz-products_row">
            {{#isGreater token.role "0"}}{{> emptyitem}}{{/isGreater}}
            {{#each items}}
                {{> item item=this token=../token}} 
            {{/each}}
        </ul>
    </div>
</body>
</html>

<script>
    const btns = document.querySelectorAll('#order-btn');
    btns.forEach(async function(btn) { 
    btn.onclick = async function(){
        var id = btn.value;
        var data ={ID: id};
        const response = await fetch('/catalog/addtocart', {
            method: 'post',
            body: JSON.stringify(data),
            headers: {'Content-Type': 'application/json'}
        });
        }
    });
    function applyFilter() {
    // Declare variables
    var input, filter, ul, li, i, txtValue;
    input = document.getElementById("filter-input");
    filter = input.value.toUpperCase();
    ul = document.getElementById("table");
    li = ul.getElementsByTagName("li");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < li.length; i++) {
        var endLoop = false;
        var spans = li[i].getElementsByTagName("span");
        for(let span of spans)
        if(!endLoop)
            if (span) {
                txtValue = span.textContent || span.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                    endLoop = true;
                } 
                else {
                    li[i].style.display = "none";
                }
        }
        }
    }
</script>
