<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Каталог товаров</title>
    <link rel="stylesheet" href="/../css/style.css">
	<link rel="stylesheet" href="/../css/stylecatalog.css">
</head>
<body>	
    <header class="headernotmain">
        {{> navigationbar token=token}}
    </header>
    <div class="container products__container">
        <ul class="imdiz-products_row">
            {{#isGreater token.role "0"}}{{> emptyitem}}{{/isGreater}}
            {{#each items}}
                {{> item item=this token=../token}} 
            {{/each}}
        </ul>
    </div>
</body>
</html>

<script>
    const btns = document.querySelectorAll('.order-btn');
    btns.forEach(async function(btn) { 
    btn.onclick = async function(){
        var id = btn.value;
        var data ={ID: id};
        const response = await fetch('/catalog/addtocart', {
            method: 'post',
            body: JSON.stringify(data),
            headers: {'Content-Type': 'application/json'}
        });
        }
    });
</script>
