<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Аренда</title>
        <link rel="stylesheet" href="/../css/style.css">
        <link rel="stylesheet" href="/../css/stylecatalog.css">
    </head>
    <body>	
        <header class="headernotmain">
            {{> navigationbar}}
        </header>
        <div class="container products__container">
            <ul class="imdiz-products_row">
                {{> emptyitem}}
                {{#each items}}
                    {{> rentableitem item=this}} 
                {{/each}}
            </ul>
        </div>
    </body>
</html>

<script>
    var btn = document.getElementById("rent-btn");
    btn.onclick = async function(){
        var id = btn.value;
        var data ={ID: id};
        const response = await fetch('/rent/addtocart', {
            method: 'post',
            body: JSON.stringify(data),
            headers: {'Content-Type': 'application/json'}
        });
    }
</script>