<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{item.itemname}}</title>
        <link rel="stylesheet" href="/../css/style.css">
        <link rel="stylesheet" href="/../css/itempage.css">
    </head>
    <body>	
        <header class="headernotmain">
            {{> navigationbar token=token}}
        </header>
        {{> iteminfotable btnname = "В аренду" item = item token=token}}
    </body>
</html>

<script>
var btn = document.getElementById("order-btn");
if(btn)
    btn.onclick = async function(){
        var id = btn.value;
        var data ={ID: id};
        const response = await fetch('/rent/addtocart', {
            method: 'post',
            body: JSON.stringify(data),
            headers: {'Content-Type': 'application/json'}
        });
    }
    var del = document.getElementById("delete-btn");
    if(del)
    del.onclick = async function(){
        var id = del.value;
        var data ={ID: id};
        const response = await fetch('/rent/delete', {
            method: 'post',
            body: JSON.stringify(data),
            headers: {'Content-Type': 'application/json'}
        });
        if(response.status == 400) alert("Ошибка сервера");
        else 
        {
            alert("Запись успешно удалена");
            location.assign("/rent");
        }
    }
</script>