<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{item.itemname}}</title>
        <link rel="stylesheet" href="/../css/style.css">
        <link rel="stylesheet" href="/../css/itempage.css">
    </head>
    <body>	
        <header class="headernotmain">
            {{> navigationbar}}
        </header>
        {{> iteminfotable btnname = "В аренду" item = item}}
    </body>
</html>