<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Авторизация</title>
	<link rel="stylesheet" href="/../css/signin.css">
</head>
    <div class="box">
        <form>
            <div class="input-container">
                <input id="login" type="text" required=""/>
                <label>Логин</label>		
            </div>
            <div class="input-container">		
                <input id="password" type="password" required=""/>
                <label>Пароль</label>
            </div>
                <button id="auth-btn" type="button" class="btn">Авторизация</button>
                <a href="/signup">Регистрация</a>
        </form>	
    </div>
</html>
<script>
     document.getElementById('auth-btn').onclick = async function() {
        var data={
            login: document.getElementById('login').value,
            password: document.getElementById('password').value
        }
        console.log(data);
        if(!data.login || /\s/g.test(data.login) || data.login.lenght> 20){alert("Некорректный логин");return;}
        if(!data.password || /\s/g.test(data.password) || data.password.lenght> 20){alert("Некорректный пароль");return;}

        const response = await fetch('/signin   ', {
            method: 'post',
            body: JSON.stringify(data),
            headers: {'Content-Type': 'application/json'}
        });
        if(response.status == 400){alert("Проверьте введённые данные");return;}
        alert("Авторизация прошла успешно");
        const res = await response.json();
        localStorage.setItem('token',res.token);
        location.assign("/");
     }
</script>