<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Регистрация</title>
	<link rel="stylesheet" href="/../css/signin.css">
</head>
    <div class="box">
        <form>
            <div class="input-container">
                <input id="login" type="text" required=""/>
                <label>Логин</label>		
            </div>
            <div class="input-container">		
                <input id="password" type="password" required=""/>
                <label>Пароль</label>
            </div>
            <div class="input-container">		
                <input id="repassword" type="password" required=""/>
                <label>Повторите пароль</label>
            </div>
            <div class="input-container">		
                <input id="email" type="email" required=""/>
                <label>Почта</label>
            </div>
                <button id="reg-btn" type="button" class="btn">Регистрация</button>
                <a href="/signin">Авторизация</a>
        </form>	
    </div>
</html>