<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Регистрация</title>
	<link rel="stylesheet" href="/../css/signin.css">
</head>
    <div class="box">
        <form>
            <div class="input-container">
                <input id="login" type="text" required=""/>
                <label>Логин</label>		
            </div>
            <div class="input-container">		
                <input id="password" type="password" required=""/>
                <label>Пароль</label>
            </div>
            <div class="input-container">		
                <input id="repassword" type="password" required=""/>
                <label>Повторите пароль</label>
            </div>
            <div class="input-container">		
                <input id="email" type="email" required=""/>
                <label>Почта</label>
            </div>
                <button id="reg-btn" type="button" class="btn">Регистрация</button>
                <a href="/signin">Авторизация</a>
        </form>	
    </div>
</html>
<script>
    document.getElementById('reg-btn').onclick = async function() {
        var data={
            email: document.getElementById('email').value,
            login: document.getElementById('login').value,
            password: document.getElementById('password').value
        }
        console.log(data);
        if(!data.login || /\s/g.test(data.login) || data.login.lenght> 20){alert("Некорректный логин");return;}
        if(!data.email || !/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(data.email) || data.email.lenght> 20){alert("Некорректная почта");return;}
        if(!data.password || /\s/g.test(data.password) || data.password.lenght> 20){alert("Некорректный пароль");return;}
        if(data.password != document.getElementById('repassword').value){alert("Пароли не совпадают"); return;}

        const response = await fetch('/signup', {
            method: 'post',
            body: JSON.stringify(data),
            headers: {'Content-Type': 'application/json'}
        });
        if(response.status == 400){alert("Ошибка регистрации");return;}
        alert("Регистрация прошла успешно");
        location.assign("/signin");
    }   

</script>