<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/../css/iteminshopcart.css">
        <link rel="stylesheet" href="/../css/style.css">
    </head>
    <body>	
        <header class="headernotmain">
            {{> navigationbar token=token}}
        </header>
        <div class="item">
                {{#each items}}
                    {{> iteminshopcart token=../token item=this}} 
                {{/each}}
        </div>

        <button class="upbtn" type="button" name="{{type}}" id="submit" value="{{ID}}">Оформить</button>
    </body>
</html>
<script>
    
    var btn = document.getElementById("submit");
    var type = btn.getAttribute("name");
    var id = btn.value;
        btn.onclick = async function(){
        if(!id || id == ""){alert("Ваша корзина пуста"); return;}
        data = {ID : id};
        const response = await fetch('/shopcart/create/'+type, {
            method: 'post',
            body: JSON.stringify(data),
            headers: {'Content-Type': 'application/json'}
        });
        if(response.status == 400) {alert("Ошибка сервера");return;}
        alert("Заказ принят на обработку");
        location.assign("/lk")
    }

    const deletebuttons = document.querySelectorAll('.deletebtn');
    deletebuttons.forEach(async function(elem) { 
    elem.addEventListener("click", async function() {          
        if(elem.value){
        var itemid = elem.value;
        var data = {
            ID: id,
            itemID: itemid
        };
        const response = await fetch('/shopcart/delete/'+type, {
            method: 'post',
            body:JSON.stringify(data),
            headers: {'Content-Type': 'application/json'}
        });
        if (response.status == 400) {alert("Ошибка");return;}
        }
        var item = elem.closest(".iteminshopcart");
        item.remove();
        }); 
    }); 

    const plusbuttons = document.querySelectorAll('.plusbtn');
    plusbuttons.forEach(function(elem) { 
    elem.addEventListener("click", function() {          
            var valuecount = elem.closest("div").getElementsByTagName("input");
            var intvcount = parseInt(valuecount[0].value);
            valuecount[0].value = intvcount+1;
        }); 
    }); 
    
    const minusbuttons = document.querySelectorAll('.minusbtn');
    minusbuttons.forEach(function(elem) {
    elem.addEventListener("click", function() {          
            var valuecount = elem.closest("div").getElementsByTagName("input");
            var intvcount = parseInt(valuecount[0].value);
            if (intvcount > 1) {
                valuecount[0].value = intvcount-1;
            }
        }); 
    });

</script>
