<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/../css/aboutus.css">
        <link rel="stylesheet" href="/../css/style.css">
    </head>
    <body>	
        <div class="us-image"> 
			<header class="headermain">		
				{{> navigationbar token=token}}
			
			<div class="descrip">
				<p>А что писать-то? Ну, привет. Пока.</p>
			</div>

			</header>
		</div>
        </div>
    </body>
</html>