<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Интернет магазин аниме атрибутики</title>
	<link rel="stylesheet" href="/../css/style.css">
</head>
	<body>	
		<div class="image-container"> 
			<header class="headermain">		
				{{> navigationbar token=token}}
			
			<div class="description">
				<h1>Аниме атрибутика</h1>
				<p>Товары, которые приблизят Вас к аниме культуре.</p>
				<br>
				<a href="/catalog" class="shop">Все товары</a>
			</div>

			<div class="description1">
				<h1>Манга</h1>
				<p>Есть манга, которую хочется прочесть, но не хотите, чтобы потом пылилась на полке?</p>
				<br>
				<a href="/rent" class="shop">Аренда</a>
			</div>
			</header>
		</div>
	</body>
</html>
