<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/../css/privatedata.css">
    <link rel="stylesheet" href="/../css/style.css">
</head>
	<body>	
		<header class="headernotmain">		
			{{> navigationbar token=token}}
		</header>
		<div class="data-container">
			<div class="grid">
				<div class="maininfo">
					<input hidden id="id" value="{{worker.workerID}}">
					<table>
						<caption><b>Новый админ</b></caption>
						<tr>
							<td>Почта:</td>
							<td><input  name="input" id="email" value="{{worker.workeremail}}"></td>
						</tr>
						<tr>
						<tr>
							<td>Логин:</td>
							<td><input name="input" id="login"></td>
						</tr>
						<tr>
							<td>Пароль:</td>
							<td><input name="input" id="password"></td>
						</tr>
					</table>              
				</div>
			</div>
		<button class="upbtn1" name="create" id="update-button">Создать</button>
		</div>		
	</body>
</html>
<script>
	if(document.getElementById('update-button'))
	document.getElementById('update-button').onclick = async function(){
        var psw = document.getElementById('password');
        if(psw) psw = psw.value;
        else psw = ""
        var data = {
            email: document.getElementById('email').value,
            login: document.getElementById('login').value,
            password: psw
        };

        if(!data.email){alert("Введите email"); return;}
		if(!/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(data.email) || data.email.length > 30){alert("Неверный формат почты"); return;}

        if(!data.login) {alert("Введите логин"); return;}
        if(data.login.length > 30){alert("Логин не должен быть длиннее 30 симоволов"); return;}

        if(psw != "")
            if(data.password.length < 3){alert("Пароль не должен быть короче 3 симоволов"); return;}
            if(data.password.length > 20){alert("Пароль не должен быть длиннее 20 симоволов"); return;}

        const req = document.getElementById("update-button").getAttribute("name");

		const response = await fetch('/admins/admin/create', {
            method: 'post',
            body: JSON.stringify(data),
            headers: {'Content-Type': 'application/json'}
        });
		if(response.status == 200) alert("Запись успешно обновлена");
		else alert("Ошибка при обновлении записи");
	}
</script>