<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/../css/style.css">
        <link rel="stylesheet" href="/../css/stylecatalog.css">
    </head>
    <body>	
        <header class="headernotmain">
            {{> navigationbar token=token}}
        </header>
        <div class="container products__container">
            <ul class="imdiz-products_row">
            {{#each contracts}}
                {{> contract contract=this token=../token}} 
            {{/each}}
            </ul>
        </div>
    </body>
</html>
<script>
const btns = document.querySelectorAll('#delete-btn');
    btns.forEach(async function(btn) { 
    btn.onclick = async function(){
        var id = btn.value;
        var data ={ID: id};
        const response = await fetch('/contracts/deletecontract', {
            method: 'post',
            body: JSON.stringify(data),
            headers: {'Content-Type': 'application/json'}
        });
        if(response.status == 400){alert("Ошибка при отмене контракта");return;}
            var tr = elem.closest("a");
            tr.remove();
        }
    });
</script>